# Carpetas de dependencias
node_modules/

# Carpetas de compilación
build/

# Archivos de configuración local
.env
config.json
secrets.json

# Archivos de registro y temporales
*.log
*.tmp
*.swp
*.swo

# Archivos de compilación de Sass (CSS)
src/scss/**/*.css

# Otros archivos
.vscode/
.idea/