@use 'variables' as *;

// creando mixin para diseñó responsive similar al media query
@mixin telefono {
    @media (min-width: $telefono) {
        @content; // toma la inforcion de contenido que se quiera ajustar y toma la clase de donde se llamo el mixin
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content; // toma la inforcion de contenido que se quiera ajustar y toma la clase de donde se llamo el mixin
    }
}
@mixin pc {
    @media (min-width: $desktop) {
        @content; // toma la inforcion de contenido que se quiera ajustar y toma la clase de donde se llamo el mixin
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto; // se usa para centrar el contenido
}
// mixin para grid
@mixin grid($columnas: 1, $espaciado: 4rem) {// columnas y espaciado se pasan como argumentos al llamar el mixin  
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

/* mixin para resetear la lista */
@mixin resetear-lista {
    margin: 0; // se usa para quitar los espacios entre los elementos de una lista
    padding: 0; // se utiliza para quitar los espacios entre los elementos de una lista
    list-style: none;// se usa para quitar el punto de la lista
}