@use 'variables' as *;

// creando mixin para diseñó responsive similar al media query
@mixin telefono {
    @media (min-width: $telefono) {
        @content; // toma la inforcion de contenido que se quiera ajustar y toma la clase de donde se llamo el mixin
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content; // toma la inforcion de contenido que se quiera ajustar y toma la clase de donde se llamo el mixin
    }
}
@mixin pc {
    @media (min-width: $desktop) {
        @content; // toma la inforcion de contenido que se quiera ajustar y toma la clase de donde se llamo el mixin
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
// mixin para grid
@mixin grid($columnas: 1, $espaciado: 4rem) {// columnas y espaciado se pasan como argumentos al llamar el mixin  
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}
